/* shibuya-style admonitions
 * =======================================================
 *
 * colors and styles taken from the shibuya sphynx theme
 * https://shibuya.lepture.com/writing/code/
 *
 * */

@use "sass:list";

$admonitions: (attention, caution, danger, error, exercise, hint, important, note, seealso, solution, tip, todo, warning, docs);
$versions: (versionadded, versionchanged, deprecated);
$all-admonitions: list.join($admonitions, $versions);

:root {
  /* -- admonition -> colors -- */

    --admonition-color: 3 169 244;
    --attention-color: 247 89 171;
    --caution-color: 247 186 42;
    --danger-color: 255 92 47;
    --deprecated-color: 255 92 47;
    --error-color: 255 92 47;
    --exercise-color: var(--admonition-color);
    --hint-color: 0 200 80;
    --important-color: 179 127 235;
    --note-color: 3 169 244;
    --seealso-color: 60 140 255 !important;
    --solution-color: var(--admonition-color);
    --tip-color: 0 200 80;
    --todo-color: 220 150 0;
    --warning-color: 255 145 0;
    --versionadded-color: 0 200 80;
    --versionchanged-color: 255, 191, 0;
    --docs-color: 179 127 235;

  /* -- admonition -> icon name -- */

    --admonition-icon: var(--i-bell-url);
    --attention-icon: var(--i-bang-triangle-url);
    --caution-icon: var(--i-pulse-url);
    --danger-icon: var(--i-zap-url);
    --deprecated-icon: var(--i-bang-stop-url);
    --error-icon: var(--i-x-circle-url);
    --exercise-icon: var(--i-terminal-url);
    --hint-icon: var(--i-lightbulb-url);
    --important-icon: var(--i-flame-url);
    --note-icon: var(--i-info-url);
    --seealso-icon: var(--i-up-right-arrow-square-url);
    --solution-icon: var(--i-grad-cap-url);
    --tip-icon: var(--i-rocket-url);
    --todo-icon: var(--i-checklist-url);
    --warning-icon: var(--i-megaphone-url);
    --versionadded-icon: var(--i-hash-mark-url);
    --versionchanged-icon: var(--i-clock-circle-url);
    --docs-icon: var(--i-asterisk-url);

  /* -- icon name -> url  -- */
    /* https://icon-sets.iconify.design/ */

    --i-asterisk-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="currentColor" d="M0 2.75A2.75 2.75 0 0 1 2.75 0h10.5A2.75 2.75 0 0 1 16 2.75v10.5A2.75 2.75 0 0 1 13.25 16H2.75A2.75 2.75 0 0 1 0 13.25ZM2.75 1.5c-.69 0-1.25.56-1.25 1.25v10.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25V2.75c0-.69-.56-1.25-1.25-1.25Z"%2F%3E%3Cpath fill="currentColor" d="M8 4a.75.75 0 0 1 .75.75V6.7l1.69-.975a.75.75 0 0 1 .75 1.3L9.5 8l1.69.976a.75.75 0 0 1-.75 1.298L8.75 9.3v1.951a.75.75 0 0 1-1.5 0V9.299l-1.69.976a.75.75 0 0 1-.75-1.3L6.5 8l-1.69-.975a.75.75 0 0 1 .75-1.3l1.69.976V4.75A.75.75 0 0 1 8 4Z"%2F%3E%3C%2Fsvg%3E');
    --i-bang-comment-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"%2F%3E%3C%2Fsvg%3E');
    --i-bang-stop-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2a1 1 0 0 1 0 2Z"%2F%3E%3C%2Fsvg%3E');
    --i-bang-triangle-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cg id="evaAlertTriangleFill0"%3E%3Cg id="evaAlertTriangleFill1"%3E%3Cpath id="evaAlertTriangleFill2" fill="white" d="M22.56 16.3L14.89 3.58a3.43 3.43 0 0 0-5.78 0L1.44 16.3a3 3 0 0 0-.05 3A3.37 3.37 0 0 0 4.33 21h15.34a3.37 3.37 0 0 0 2.94-1.66a3 3 0 0 0-.05-3.04ZM12 17a1 1 0 1 1 1-1a1 1 0 0 1-1 1Zm1-4a1 1 0 0 1-2 0V9a1 1 0 0 1 2 0Z"%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    --i-bell-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M8 16c.9 0 1.7-.6 1.9-1.5c.1-.3-.1-.5-.4-.5h-3c-.3 0-.5.2-.4.5c.2.9 1 1.5 1.9 1.5ZM3 5c0-2.8 2.2-5 5-5s5 2.2 5 5v3l1.7 2.6c.2.2.3.5.3.8c0 .8-.7 1.5-1.5 1.5h-11c-.8.1-1.5-.6-1.5-1.4c0-.3.1-.6.3-.8L3 8.1V5Z"%2F%3E%3C%2Fsvg%3E');
    --i-bookmark-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M3 2.75C3 1.784 3.784 1 4.75 1h6.5c.966 0 1.75.784 1.75 1.75v11.5a.75.75 0 0 1-1.227.579L8 11.722l-3.773 3.107A.751.751 0 0 1 3 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.91l3.023-2.489a.75.75 0 0 1 .954 0l3.023 2.49V2.75a.25.25 0 0 0-.25-.25Z"%2F%3E%3C%2Fsvg%3E');
    --i-bullseye-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M13.637 2.363h-.001l1.676.335c.09.018.164.084.19.173a.25.25 0 0 1-.062.249l-1.373 1.374a.876.876 0 0 1-.619.256H12.31L9.45 7.611A1.5 1.5 0 1 1 6.5 8a1.501 1.501 0 0 1 1.889-1.449l2.861-2.862V2.552c0-.232.092-.455.256-.619L12.88.559a.25.25 0 0 1 .249-.062c.089.026.155.1.173.19Z"%2F%3E%3Cpath fill="white" d="M2 8a6 6 0 1 0 11.769-1.656a.751.751 0 1 1 1.442-.413a7.502 7.502 0 0 1-12.513 7.371A7.501 7.501 0 0 1 10.069.789a.75.75 0 0 1-.413 1.442A6.001 6.001 0 0 0 2 8Z"%2F%3E%3Cpath fill="white" d="M5 8a3.002 3.002 0 0 0 4.699 2.476a3 3 0 0 0 1.28-2.827a.748.748 0 0 1 1.045-.782a.75.75 0 0 1 .445.61A4.5 4.5 0 1 1 8.516 3.53a.75.75 0 1 1-.17 1.49A3 3 0 0 0 5 8Z"%2F%3E%3C%2Fsvg%3E');
    --i-check-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm1.5 0a6.5 6.5 0 1 0 13 0a6.5 6.5 0 0 0-13 0Zm10.28-1.72l-4.5 4.5a.75.75 0 0 1-1.06 0l-2-2a.751.751 0 0 1 .018-1.042a.751.751 0 0 1 1.042-.018l1.47 1.47l3.97-3.97a.751.751 0 0 1 1.042.018a.751.751 0 0 1 .018 1.042Z"%2F%3E%3C%2Fsvg%3E');
    --i-checklist-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M2 2h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1Zm4.655 8.595a.75.75 0 0 1 0 1.06L4.03 14.28a.75.75 0 0 1-1.06 0l-1.5-1.5a.749.749 0 0 1 .326-1.275a.749.749 0 0 1 .734.215l.97.97l2.095-2.095a.75.75 0 0 1 1.06 0ZM9.75 2.5h5.5a.75.75 0 0 1 0 1.5h-5.5a.75.75 0 0 1 0-1.5Zm0 5h5.5a.75.75 0 0 1 0 1.5h-5.5a.75.75 0 0 1 0-1.5Zm0 5h5.5a.75.75 0 0 1 0 1.5h-5.5a.75.75 0 0 1 0-1.5Zm-7.25-9v3h3v-3Z"%2F%3E%3C%2Fsvg%3E');
    --i-circle-slash-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM3.965 13.096a6.5 6.5 0 0 0 9.131-9.131ZM1.5 8a6.474 6.474 0 0 0 1.404 4.035l9.131-9.131A6.499 6.499 0 0 0 1.5 8Z"%2F%3E%3C%2Fsvg%3E');
    --i-clock-circle-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M23.998 11.978v.023C23.998 18.628 18.626 24 11.999 24a11.947 11.947 0 0 1-7.553-2.675l.022.018a1.162 1.162 0 0 1-.089-1.724l.545-.545a1.162 1.162 0 0 1 1.546-.094l-.002-.002a8.848 8.848 0 0 0 5.53 1.925A8.903 8.903 0 1 0 5.896 5.517l.005-.004l2.456 2.456a.774.774 0 0 1-.548 1.321H.775a.774.774 0 0 1-.774-.774V1.482A.775.775 0 0 1 1.322.934l2.389 2.389A11.955 11.955 0 0 1 12 0c6.619 0 11.987 5.36 11.999 11.976v.001zm-8.753 3.811l.475-.611a1.158 1.158 0 0 0-.202-1.628l-.003-.002l-1.969-1.532V6.968c0-.641-.52-1.162-1.162-1.162h-.774c-.641 0-1.162.52-1.162 1.162v6.56l3.165 2.461a1.162 1.162 0 0 0 1.63-.197z"%2F%3E%3C%2Fsvg%3E');
    --i-comment-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M1 2.75C1 1.784 1.784 1 2.75 1h10.5c.966 0 1.75.784 1.75 1.75v7.5A1.75 1.75 0 0 1 13.25 12H9.06l-2.573 2.573A1.458 1.458 0 0 1 4 13.543V12H2.75A1.75 1.75 0 0 1 1 10.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h4.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"%2F%3E%3C%2Fsvg%3E');
    --i-flame-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M9.533.753V.752c.217 2.385 1.463 3.626 2.653 4.81C13.37 6.74 14.498 7.863 14.498 10c0 3.5-3 6-6.5 6S1.5 13.512 1.5 10c0-1.298.536-2.56 1.425-3.286c.376-.308.862 0 1.035.454C4.46 8.487 5.581 8.419 6 8c.282-.282.341-.811-.003-1.5C4.34 3.187 7.035.75 8.77.146c.39-.137.726.194.763.607ZM7.998 14.5c2.832 0 5-1.98 5-4.5c0-1.463-.68-2.19-1.879-3.383l-.036-.037c-1.013-1.008-2.3-2.29-2.834-4.434c-.322.256-.63.579-.864.953c-.432.696-.621 1.58-.046 2.73c.473.947.67 2.284-.278 3.232c-.61.61-1.545.84-2.403.633a2.79 2.79 0 0 1-1.436-.874A3.198 3.198 0 0 0 3 10c0 2.53 2.164 4.5 4.998 4.5Z"%2F%3E%3C%2Fsvg%3E');
    --i-grad-cap-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M7.693 1.066a.747.747 0 0 1 .614 0l7.25 3.25a.75.75 0 0 1 0 1.368L13 6.831v2.794c0 1.024-.81 1.749-1.66 2.173c-.893.447-2.075.702-3.34.702c-.278 0-.55-.012-.816-.036a.75.75 0 0 1 .133-1.494c.22.02.45.03.683.03c1.082 0 2.025-.221 2.67-.543c.69-.345.83-.682.83-.832V7.503L8.307 8.934a.747.747 0 0 1-.614 0L4 7.28v1.663c.296.105.575.275.812.512c.438.438.688 1.059.688 1.796v3a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75v-3c0-.737.25-1.358.688-1.796c.237-.237.516-.407.812-.512V6.606L.443 5.684a.75.75 0 0 1 0-1.368ZM2.583 5L8 7.428L13.416 5L8 2.572ZM2.5 11.25v2.25H4v-2.25c0-.388-.125-.611-.25-.735a.697.697 0 0 0-.5-.203a.707.707 0 0 0-.5.203c-.125.124-.25.347-.25.735Z"%2F%3E%3C%2Fsvg%3E');
    --i-hash-mark-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M6.368 1.01a.75.75 0 0 1 .623.859L6.57 4.5h3.98l.46-2.868a.75.75 0 0 1 1.48.237L12.07 4.5h2.18a.75.75 0 0 1 0 1.5h-2.42l-.64 4h2.56a.75.75 0 0 1 0 1.5h-2.8l-.46 2.869a.75.75 0 0 1-1.48-.237l.42-2.632H5.45l-.46 2.869a.75.75 0 0 1-1.48-.237l.42-2.632H1.75a.75.75 0 0 1 0-1.5h2.42l.64-4H2.25a.75.75 0 0 1 0-1.5h2.8l.46-2.868a.75.75 0 0 1 .858-.622ZM9.67 10l.64-4H6.33l-.64 4Z"%2F%3E%3C%2Fsvg%3E');
    --i-info-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2a1 1 0 0 1 0 2Z"%2F%3E%3C%2Fsvg%3E');
    --i-key-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M10.5 0a5.499 5.499 0 1 1-1.288 10.848l-.932.932a.749.749 0 0 1-.53.22H7v.75a.749.749 0 0 1-.22.53l-.5.5a.749.749 0 0 1-.53.22H5v.75a.749.749 0 0 1-.22.53l-.5.5a.749.749 0 0 1-.53.22h-2A1.75 1.75 0 0 1 0 14.25v-2c0-.199.079-.389.22-.53l4.932-4.932A5.5 5.5 0 0 1 10.5 0Zm-4 5.5c-.001.431.069.86.205 1.269a.75.75 0 0 1-.181.768L1.5 12.56v1.69c0 .138.112.25.25.25h1.69l.06-.06v-1.19a.75.75 0 0 1 .75-.75h1.19l.06-.06v-1.19a.75.75 0 0 1 .75-.75h1.19l1.023-1.025a.75.75 0 0 1 .768-.18A4 4 0 1 0 6.5 5.5ZM11 6a1 1 0 1 1 0-2a1 1 0 0 1 0 2Z"%2F%3E%3C%2Fsvg%3E');
    --i-lightbulb-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M8 1.5c-2.363 0-4 1.69-4 3.75c0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848c.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a8.456 8.456 0 0 0-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25C2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259c-.095.115-.184.22-.268.319c-.207.245-.383.453-.541.681c-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489c.203-.292.45-.584.673-.848c.075-.088.147-.173.213-.253c.561-.679.985-1.32.985-2.304c0-2.06-1.637-3.75-4-3.75ZM5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z"%2F%3E%3C%2Fsvg%3E');
    --i-link-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="m7.775 3.275l1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0a.751.751 0 0 1 .018-1.042a.751.751 0 0 1 1.042-.018a1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018a.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018a.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0a.751.751 0 0 1-.018 1.042a.751.751 0 0 1-1.042.018a1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"%2F%3E%3C%2Fsvg%3E');
    --i-megaphone-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M3.25 9a.75.75 0 0 1 .75.75c0 2.142.456 3.828.733 4.653a.122.122 0 0 0 .05.064a.212.212 0 0 0 .117.033h1.31c.085 0 .18-.042.258-.152a.45.45 0 0 0 .075-.366A16.743 16.743 0 0 1 6 9.75a.75.75 0 0 1 1.5 0c0 1.588.25 2.926.494 3.85c.293 1.113-.504 2.4-1.783 2.4H4.9c-.686 0-1.35-.41-1.589-1.12A16.4 16.4 0 0 1 2.5 9.75A.75.75 0 0 1 3.25 9Z"%2F%3E%3Cpath fill="white" d="M0 6a4 4 0 0 1 4-4h2.75a.75.75 0 0 1 .75.75v6.5a.75.75 0 0 1-.75.75H4a4 4 0 0 1-4-4Zm4-2.5a2.5 2.5 0 1 0 0 5h2v-5Z"%2F%3E%3Cpath fill="white" d="M15.59.082A.75.75 0 0 1 16 .75v10.5a.75.75 0 0 1-1.189.608l-.002-.001h.001l-.014-.01a5.775 5.775 0 0 0-.422-.25a10.63 10.63 0 0 0-1.469-.64C11.576 10.484 9.536 10 6.75 10a.75.75 0 0 1 0-1.5c2.964 0 5.174.516 6.658 1.043c.423.151.787.302 1.092.443V2.014c-.305.14-.669.292-1.092.443C11.924 2.984 9.713 3.5 6.75 3.5a.75.75 0 0 1 0-1.5c2.786 0 4.826-.484 6.155-.957c.665-.236 1.154-.47 1.47-.64c.144-.077.284-.161.421-.25l.014-.01a.75.75 0 0 1 .78-.061Z"%2F%3E%3C%2Fsvg%3E');
    --i-pulse-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M6 2c.306 0 .582.187.696.471L10 10.731l1.304-3.26A.751.751 0 0 1 12 7h3.25a.75.75 0 0 1 0 1.5h-2.742l-1.812 4.528a.751.751 0 0 1-1.392 0L6 4.77L4.696 8.03A.75.75 0 0 1 4 8.5H.75a.75.75 0 0 1 0-1.5h2.742l1.812-4.529A.751.751 0 0 1 6 2Z"%2F%3E%3C%2Fsvg%3E');
    --i-question-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13ZM6.92 6.085h.001a.749.749 0 1 1-1.342-.67c.169-.339.436-.701.849-.977C6.845 4.16 7.369 4 8 4a2.756 2.756 0 0 1 1.637.525c.503.377.863.965.863 1.725c0 .448-.115.83-.329 1.15c-.205.307-.47.513-.692.662c-.109.072-.22.138-.313.195l-.006.004a6.24 6.24 0 0 0-.26.16a.952.952 0 0 0-.276.245a.75.75 0 0 1-1.248-.832c.184-.264.42-.489.692-.661c.103-.067.207-.132.313-.195l.007-.004c.1-.061.182-.11.258-.161a.969.969 0 0 0 .277-.245C8.96 6.514 9 6.427 9 6.25a.612.612 0 0 0-.262-.525A1.27 1.27 0 0 0 8 5.5c-.369 0-.595.09-.74.187a1.01 1.01 0 0 0-.34.398ZM9 11a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"%2F%3E%3C%2Fsvg%3E');
    --i-right-arrow-circle-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M2.5 7.25a4.75 4.75 0 0 1 9.5 0a.75.75 0 0 0 1.5 0a6.25 6.25 0 1 0-6.25 6.25H12v2.146c0 .223.27.335.427.177l2.896-2.896a.25.25 0 0 0 0-.354l-2.896-2.896a.25.25 0 0 0-.427.177V12H7.25A4.75 4.75 0 0 1 2.5 7.25Z"%2F%3E%3C%2Fsvg%3E');
    --i-rocket-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M14.064 0h.186C15.216 0 16 .784 16 1.75v.186a8.752 8.752 0 0 1-2.564 6.186l-.458.459c-.314.314-.641.616-.979.904v3.207c0 .608-.315 1.172-.833 1.49l-2.774 1.707a.749.749 0 0 1-1.11-.418l-.954-3.102a1.214 1.214 0 0 1-.145-.125L3.754 9.816a1.218 1.218 0 0 1-.124-.145L.528 8.717a.749.749 0 0 1-.418-1.11l1.71-2.774A1.748 1.748 0 0 1 3.31 4h3.204c.288-.338.59-.665.904-.979l.459-.458A8.749 8.749 0 0 1 14.064 0ZM8.938 3.623h-.002l-.458.458c-.76.76-1.437 1.598-2.02 2.5l-1.5 2.317l2.143 2.143l2.317-1.5c.902-.583 1.74-1.26 2.499-2.02l.459-.458a7.25 7.25 0 0 0 2.123-5.127V1.75a.25.25 0 0 0-.25-.25h-.186a7.249 7.249 0 0 0-5.125 2.123ZM3.56 14.56c-.732.732-2.334 1.045-3.005 1.148a.234.234 0 0 1-.201-.064a.234.234 0 0 1-.064-.201c.103-.671.416-2.273 1.15-3.003a1.502 1.502 0 1 1 2.12 2.12Zm6.94-3.935c-.088.06-.177.118-.266.175l-2.35 1.521l.548 1.783l1.949-1.2a.25.25 0 0 0 .119-.213ZM3.678 8.116L5.2 5.766c.058-.09.117-.178.176-.266H3.309a.25.25 0 0 0-.213.119l-1.2 1.95ZM12 5a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"%2F%3E%3C%2Fsvg%3E');
    --i-terminal-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M0 2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25Zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V2.75a.25.25 0 0 0-.25-.25ZM7.25 8a.749.749 0 0 1-.22.53l-2.25 2.25a.749.749 0 0 1-1.275-.326a.749.749 0 0 1 .215-.734L5.44 8L3.72 6.28a.749.749 0 0 1 .326-1.275a.749.749 0 0 1 .734.215l2.25 2.25c.141.14.22.331.22.53Zm1.5 1.5h3a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1 0-1.5Z"%2F%3E%3C%2Fsvg%3E');
    --i-x-circle-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="currentColor" d="M2.344 2.343h-.001a8 8 0 0 1 11.314 11.314A8.002 8.002 0 0 1 .234 10.089a8 8 0 0 1 2.11-7.746Zm1.06 10.253a6.5 6.5 0 1 0 9.108-9.275a6.5 6.5 0 0 0-9.108 9.275ZM6.03 4.97L8 6.94l1.97-1.97a.749.749 0 0 1 1.275.326a.749.749 0 0 1-.215.734L9.06 8l1.97 1.97a.749.749 0 0 1-.326 1.275a.749.749 0 0 1-.734-.215L8 9.06l-1.97 1.97a.749.749 0 0 1-1.275-.326a.749.749 0 0 1 .215-.734L6.94 8L4.97 6.03a.751.751 0 0 1 .018-1.042a.751.751 0 0 1 1.042-.018Z"%2F%3E%3C%2Fsvg%3E');
    --i-up-right-arrow-square-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03L9.28 7.78a.751.751 0 0 1-1.042-.018a.751.751 0 0 1-.018-1.042l3.75-3.75l-1.543-1.543A.25.25 0 0 1 10.604 1Z"%2F%3E%3C%2Fsvg%3E');
    --i-zap-url: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="white" d="M9.504.43a1.516 1.516 0 0 1 2.437 1.713L10.415 5.5h2.123c1.57 0 2.346 1.909 1.22 3.004l-7.34 7.142a1.249 1.249 0 0 1-.871.354h-.302a1.25 1.25 0 0 1-1.157-1.723L5.633 10.5H3.462c-1.57 0-2.346-1.909-1.22-3.004L9.503.429Zm1.047 1.074L3.286 8.571A.25.25 0 0 0 3.462 9H6.75a.75.75 0 0 1 .694 1.034l-1.713 4.188l6.982-6.793A.25.25 0 0 0 12.538 7H9.25a.75.75 0 0 1-.683-1.06l2.008-4.418l.003-.006a.036.036 0 0 0-.004-.009l-.006-.006l-.008-.001c-.003 0-.006.002-.009.004Z"%2F%3E%3C%2Fsvg%3E');

    /* icon size variables */

    --icon-bg-size: 25px;
    --icon-size: 16px;
    --icon-top-margin: 6px;
    --icon-right-margin: 1.25rem;
    --icon-bg-center: calc((var(--icon-bg-size) / 2) * -1);
    --icon-v-center: calc(((var(--icon-bg-size) - var(--icon-size)) / 2) + var(--icon-top-margin));
    --icon-h-center: calc((var(--icon-size) / 2) * -1);
}

:root,
html[data-theme="light"],
html.light {
  --admonition-bg-opacity: 0.03;
  --admonition-head-opacity: 0.08;
  --admonition-border-opacity: 1;
}

html[data-theme="dark"],
html.dark {
  --admonition-bg-opacity: 0.08;
  --admonition-head-opacity: 0.15;
  --admonition-border-opacity: 0.8;
}

.admonition,
div.admonition {
  &.toggle-hidden {
    padding-bottom: 0 !important;
  }

  >.admonition-title, %admonition-title {

    /* -- colors & icons -- */

    color: rgb(var(--color-rgb));
    background-color: rgba(var(--color-rgb) / var(--admonition-head-opacity));

    /* -- layout & style -- */

    padding: var(--icon-top-margin) var(--icon-right-margin) !important;
    position: relative !important;
    overflow: visible !important;

    &::before {
      /* -- colors & icons -- */

      background-color: #fff !important;
      mask: var(--icon-url) no-repeat !important;
      -webkit-mask: var(--icon-url) no-repeat !important;

      /* -- layout & style -- */

      mask-size: 100% !important;
      -webkit-mask-size: 100% !important;
      content: "" !important;
      opacity: 1 !important;
      position: absolute !important;
      width: var(--icon-size) !important;
      height: var(--icon-size) !important;
      top: var(--icon-v-center) !important;
      left: var(--icon-h-center) !important;
    }

    &::after {
      content: unset !important;
    }
  }

  &::before, %before {
    /* -- colors & icons -- */

    background-color: rgb(var(--color-rgb)) !important;
    border-color: rgb(var(--color-rgb)) !important;

    /* -- layout & style -- */

    content: "" !important;
    border: 0 !important;
    overflow: visible !important;

    /* -- draw bgcolor circle -- */

    border-radius: 100% !important;
    position: absolute !important;
    width: var(--icon-bg-size) !important;
    height: var(--icon-bg-size) !important;
    top: var(--icon-top-margin) !important;
    left: var(--icon-bg-center) !important;
  }

  /* --- colors & icons -- */

  border-left-color: rgb(var(--color-rgb) / var(--admonition-border-opacity)) !important;
  background-color: rgb(var(--color-rgb) / var(--admonition-bg-opacity)) !important;

  /* --- layout & style -- */

  overflow: visible !important;
  border-left-width: 4px !important;
  box-shadow: unset !important;
  position: relative !important;
  border-radius: 0 !important;
  padding: 0 .6rem .8rem !important;

  /* --- default admonition colors & icons --- */

  --icon-url: var(--admonition-icon);
  --color-rgb: var(--admonition-color);

  /* --- repeat for all admonition types --- */

  @each $type in $all-admonitions {
    &.#{$type} {
      --color-rgb: var(--#{$type}-color) !important;
      --icon-url: var(--#{$type}-icon) !important;

      &::before {
        @extend %before;
      }

      > .admonition-title {
        @extend %admonition-title;
      }
    }
  }
}

.admonition p.admonition-title~*, div.admonition p.admonition-title~* {
  margin: 0 !important;
}

div.versionadded, div.versionchanged, div.deprecated {
  overflow: visible;
  margin: 0 !important;
  padding: calc(var(--icon-top-margin) * 2) 0 !important;
  border-left: 4px solid rgb(var(--version-color));
  background-color: rgba(var(--version-color) / var(--admonition-opacity));
  border-radius: 0 !important;

  &::before {
    position: absolute;
    content: var(--version-icon);
    color: #fff;
    width: var(--icon-bg-size);
    height: var(--icon-bg-size);
    border-radius: 100%;
    background-color: rgb(var(--version-color));
    text-align: center;
    font: normal 700 14px/20px var(--sy-f-mono);
    font-size: 1em !important;
    top: var(--icon-top-margin) !important;
    left: var(--icon-bg-center) !important;
  }

  span.deprecated, span.changed, span.added {
    font-style: normal;
    font-weight: 600;
    border: 0 !important;

    &::before {
      content: "";
    }
  }

  p {
    padding: 0 0 0 1rem !important;
    margin: 0 !important;
  }
}

@each $type in $versions {
  aside.sidebar div.#{$type},
  div.#{$type} {
    --version-color: var(--#{$type}-color);
    --version-icon: var(--#{$type}-icon) !important;
  }
}

aside.sidebar {
  border-radius: 0 !important;

  @each $type in $all-admonitions {
    div.#{$type} {
      margin: 0 !important;
      padding: 0 !important;
      position: unset !important;

      &::before {
        content: unset !important;
        position: unset !important;
        width: unset !important;
        height: unset !important;
        top: unset !important;
        left: unset !important;
      }

      > .admonition-title {
        margin: 0 !important;
        padding: 0 !important;

        &::before {
          content: var(--icon-url) !important;
          position: unset !important;
          width: unset !important;
          height: unset !important;
          top: unset !important;
          left: unset !important;
          margin: 0 0.25rem !important;
        }

        &::after {
          content: unset !important;
        }
      }
    }
  }

  div.deprecated, div.versionchanged, div.versionadded {
    p {
      padding: unset !important;

      // &::before {
      // }
    }
  }

}
