/* colors
   ~~~~~~~~~~~~ */

// make sure the background color for everything inside
// a code block is the same
.highlight span.linenos,
span.pre,
code.literal,
pre code span {
  background-color: inherit !important;
}

// pre.literal-block,
// pre code {
//   background-color: var(--syntax-highlight-bg) !important;
// }

// .literal-block code em span {
//   color: var(--pst-color-inline-code) !important;
// }

/* text styling
   ~~~~~~~~~~~~ */

pre.literal-block {
  line-height: 1.48;
  font-size: 0.96rem;
}

.highlight > pre {
  line-height: 1.48;
  font-size: 0.96rem;
}

.code-block-caption {
  font-size: 0.84rem;
  font-weight: 600;
}

/* layout
   ~~~~~~~~~~~~ */

/* Remove caption number ("Listing {n}") */
.code-block-caption .caption-number {
  display: none;
}

/* pre.literal-block { */
/*   padding: 1rem; */
/*   border-radius: 6px; */
/*   overflow: auto; */
/* } */

/* .highlight, */
/* .literal-block-wrapper { */
/*   --margin: 1rem; */
/*   --radius: 6px; */
/* } */

/* .highlight > pre { */
/*   display: grid; */
/*   padding: var(--margin); */
/*   border-radius: var(--radius); */
/*   overflow: auto; */
/* } */

/* .highlight .linenos { */
/*   display: inline-block; */
/*   box-shadow: -0.05rem 0 rgba(var(--sy-rc-invert), 0.2) inset; */
/*   user-select: none; */
/*   margin-right: .8rem; */
/*   padding-right: .8rem; */
/*   opacity: 0.6; */
/* } */

/* .highlight .hll { */
/*   margin-left: calc(0rem - var(--margin)); */
/*   margin-right: calc(0rem - var(--margin)); */
/*   padding: 0 var(--margin); */
/* } */

/* .code-block-caption { */
/*   padding: 0.4rem var(--margin); */
/*   border-radius: var(--radius) var(--radius) 0 0; */
/* } */

/* .code-block-caption + div > .highlight > pre { */
/*   border-top-left-radius: 0; */
/*   border-top-right-radius: 0; */
/* } */

/********************
/* code cells
/********************/

/* .cell_output { */
/*   padding-left: 0; */
/*   margin-top: 0; */
/* } */

/* .cell_output > .output { */
/*   margin-top: 0; */
/* } */

/* div.cell_output.docutils.container > div.output > div.highlight { */
/*   border: 1px solid #c9c9c9 !important; */
/* } */

/* .cell_input, .cell_output { */
/*   margin-left: 2.5em; */
/* } */

/* .cell_output > .output { */
/*   margin-top: 0.5em; */
/* } */

/********************
/* style the "In:" and "Out:" labels for interactive code
/********************/

/* .cell > .prompt { */
/*   display: inline; */
/*   font-family: monospace; */
/*   float: left; */
/*   width: 2.5em; */
/*   padding-right: 1em; */
/*   text-align: right; */
/*   color: #999; */
/* } */

.cell > .prompt-in,
.cell > .prompt-out {
  color: #D84315;
  margin-top: 1em;
  font-family: var(--pst-font-family-monospace);

}

.no-labels .prompt-in,
.no-labels .prompt-out {
  display: none;
}

.tag_remove-input {
  > div.prompt-out {
    display: none;
  }

  > div.cell_output {
    margin-left: 0;
  }
}


/********************
/* interactive blocks
/********************/

/* align highlight blocks with interactive blocks  */
/* .thebe-align { */
/*   margin-left: 2.5em; */
/*   padding-right: 15px; */
/* } */

/* add some space at the bottom of each cell in the right column
 * (really needed after code blocks) */
/* .right-col:after { */
/*   display: block; */
/*   height: 1em; */
/*   content: ""; */
/* } */

/****************
/* code blocks
/****************/

/* code-block fill-in
 *   for column alignment */
/* .break { */
/*   padding: 11px; */
/*   line-height: 17px; */
/*   margin-bottom: 15px; */
/* } */

/* wrapper
 * - unindent code blocks
 * - shrink the width and height to the content size
 *   so captions are centered and wrapped correctly
 * */

/* disable to see how it works after jb update
div.literal-block-wrapper {
  width: max-content;
  height: max-content;
  margin-left: 0;
  padding-left: 0;
}

div.full-width {
  max-width: 100%;
  width: 100%;
}

div.full-width table tbody {
  width: 100%;
}

div.full-width table tbody td.code {
  width: 100%;
}
 * */

/* code-block container
 * - remove the space between the code block and caption
 * */
/* div.literal-block-wrapper div.highlight-python div.highlight, */
/* div.literal-block-wrapper div div.highlight, */
/* div.literal-block-wrapper div div.highlight pre, */
/* div.literal-block-wrapper div.highlight-python pre, */
/* div.literal-block-wrapper pre, */
/* div.literal-block-wrapper div.highlight table.highlighttable, */
/* div.literal-block-wrapper div.highlight-python table.highlighttable { */
/*   margin-bottom: 0; */
/*   padding-bottom: 0; */
/* } */

/* div.literal-block-wrapper table td { */
/*   padding-bottom: 0; */
/* } */

/* code block
 * - align line numbers with code-block
 * */
/* td.linenos, */
/* td.code { */
/*   vertical-align: top !important; */
/* } */

/* code block
 * - align line numbers with code-block
 * */
/* td.linenos div.linenodiv pre, */
/* td.code div.highlight pre { */
/*   margin-top: 0; */
/* } */

/* caption container
 * - font size for number and text
 * - shrink to the width of the code-block
 * - leave some space around the edges
 * - add a margin after the caption
 * */
/* div.code-block-caption { */
/*   line-height: 0.9rem; */
/*   margin-top: 0; */
/*   font-size: .9rem; */
/*   padding: 0 .75em; */
/*   margin-bottom: 1.5em; */
/*   max-width: fit-content; */
/*   text-align: center; */
/*   color: #6c757d; */
/* } */


/* /* disable to see how it works after jb update */
/* .full-width div.code-block-caption { */
/*   text-align: left; */
/* } */
/*  * */

/* [> slightly gray out line numbers in code samples <] */
/* span.linenos { */
/*   color: #808080; */
/*   margin-right: 0.5em; */
/* } */

/* /******************** */
/* /* bootstrap columns */
/* [>******************<] */

/* div.row div table.highlighttable div.highlight pre { */
/*   margin-top: 0; */
/* } */
/* remove top margin from code blocks
 * that are the first element in bootstrap grids
 * to ensure columns align on top */
/* div.right-col div:first-child .highlight, */
/* div.right-col div:first-child .highlight pre, */
/* div pre:first-child { */
/*   margin-top: 0; */
/* } */
