/* global
 * ---------------------------------------------------------------------*/


:root,
html.light,
html[data-theme="light"],
html.dark,
html[data-theme="dark"] {
/* dark theme
 * ---------------------------------------------------------------------*/

  --color-scheme: "dark";

  --pst-color-background: #262A33 !important;
  --pst-color-border: var(--pst-color-background) !important;

  --syntax-text: #c9d1d9;
  --syntax-highlight-bg: #2c283b;               // dark purple

  /* --syntax-cap-bg: #342f47;

  /* --syntax-cap-bg: #342f47;
  /* --syntax-text: #c9d1d9; */

  /* --syntax-highlight-bg: #2a3447;            // dark blue
  /* --syntax-highlight-bg: #423551             // light purple
   * */

  --pst-color-shadow: var(--pst-color-background) !important;

 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* default colors
 * ~~~~~~~~~~~~~~ */
  /* --border-color: rgb(20 184 166); */
  /* --color: #fff; */
  /* --title-background-color: rgba(20 184 166 / "10%"); */
  /* --icon-bg-color: rgb(20 184 166); */
  /* --color-card-header: rgba(0 0 0 / "3%") !important; */
  /* --pst-color-text-base: #ebf0f4 !important; */
}

 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


    /* --color-main-bg: #242429; */
    /* --color-sidebar-bg: #242429; */
    /* --color-inline-code-bg: #312f29; */

    /* --color-code-background: #202020; */
  /* --pst-color-background: #242429 !important; */ // too brown
  /* --pst-color-background: #1f222d !important; */   // too purple
  /* --pst-color-background: #1a1c22 !important; */  // too dark

  /* --pst-color-background: #282C34 !important; */
  /* --pst-color-background: #1c1e26 !important; */


  /* --pst-color-text-base: #D5D8DA !important;                     // body
  /* --pst-color-muted: #b7c5d386 !important;                       // h1, h4, contents

  /* --pst-color-text-muted: brown !important;                      // navigation links

  /* --pst-color-primary: green !important;                         // active links, h2
  /* --pst-color-secondary: purple !important;                      // selection

  /* --pst-color-link: var(--pst-color-primary) !important;         // most headers, links
  /* --pst-color-link-hover: cyan !important; */

  /* --pst-color-surface: #21252B !important; */

  /* --pst-color-surface: #3b4252 !important; */
  /* --pst-color-text-base: #eaeff7 !important; */
  /* --pst-color-text-base: #d0d0d0 !important; */
  /* --pst-color-muted: #eaeff7 !important; */
  /* --pst-color-muted-text: #746f77 !important; */
  /* --pst-color-muted-highlight: gray !important; */

  /* --pst-color-surface: #262A33 !important; */
  /* --pst-color-text-base: #d1d4e0 !important; */

  /* --pst-color-surface: #282c35 !important; */
  /* --pst-color-on-background: #3f4254 !important;                 // kbd elements
  /* --pst-color-on-surface: #6c6f934d !important;                  // scrollbars  */

  /* --pst-color-on-surface: blue !important;                       // scrollbars
  /* --pst-color-on-background: green !important; */                // kbd elements


  /* --pst-color-inline-code: #e83e8c !important; */
  /* --pst-color-target: #fbe54e !important; */

  /* --pst-color-primary: #459db9 !important; */
  /* --pst-color-secondary: #ee9040 !important; */
  /* --pst-color-info: #459db9 !important; */
  /* --pst-color-warning: #ee9040 !important; */
  /* --pst-color-success: #28a745 !important; */
  /* --pst-color-attention: #ffc107 !important; */
  /* --pst-color-danger: #dc3545 !important; */

  /* link after headers ("#") that link to header */
  /* a.headerlink { */
  /* } */

html[data-theme=dark] .bd-content img:not(.only-dark):not(.dark-light) {
  background: transparent;
}

/* light theme
 * ---------------------------------------------------------------------*/

/* :root, */
html[data-theme="light"],
html.light {
  --color-scheme: light;
  /* --pst-color-primary: black; */

}
