@use "sass:list";

$pst-colors: (
  background,
  text-base,
  muted,
  text-muted,
  link,
  link-hover,
  primary,
  inline-code,
  surface,
  on-background,
  on-surface,
  border,
  shadow,
  target,
  primary,
  secondary,
  secondary-text,
  secondary-highlight,
  success,
  success-text,
  success-highlight,
  info,
  info-text,
  info-highlight,
  warning,
  warning-text,
  warning-highlight,
  attention,
  attention-text,
  attention-highlight,
  danger,
  danger-text,
  danger-highlight,
  light,
  light-text,
  light-highlight,
  dark,
  dark-text,
  dark-highlight,
  background-secondary,
  border-secondary,
  // black,
  // black-text,
  // black-highlight,
  // white,
  // white-text,
  // white-highlight,
);

/* global
 * ---------------------------------------------------------------------
 */

// :root,
// html.light,
// html[data-theme="light"],
html.dark,
html[data-theme="dark"] {
/* dark theme
 * --------------------------------------------------------------------- */

  --color-scheme: "dark";

  /* background
   * --------------------------------------------------------------------
   * currently editor background color from VS Code theme Andromeda
   *    https://marketplace.visualstudio.com/items?itemName=eliverlara.andromeda
   */
  --pst-color-background: #262A33 !important;

  /* text base
   * --------------------------------------------------------------------
   * currently
   *
   * text color of:
   *    rubric title, body elements, nav title (Python Class and Lessons), nav collapse
   *    and expand buttons, grid borders, card headers, titles, body, & footers, tab content,
   *    table headers, heading 6, math, menuselect, most inline elements
   *    blockquote text, literal block text, caption text, list text, topic and
   *    admonition text, code caption, none highlighted code, code cell output,
   *    code-cell show/hide text, previous/next links
   *
   * alternative: #d0d0d0, #D5D8DA, #C0C0CC
   *
   */
  --pst-color-text-base: #adb5bd !important;

  /* muted
   * --------------------------------------------------------------------
   * currently set to a classy palette of inkpot
   *    https://mycolor.space/?hex=%231E1E27&sub=1
   *
   * text color of:
   *    headings, contents nav title
   *
   * alternative: #d0d0d0, #767687, #707788
   *
   */
  --pst-color-muted: #767687 !important;

  /* link
   * --------------------------------------------------------------------
   * currently set to a minty green color
   *
   * alternatives: #BA9BB5, #97cfbe, #79d3c7, #32687F
   *
   */
  --pst-color-link: #79d3c7 !important;

  /* link hover
   * --------------------------------------------------------------------
   * currently set to
   *
   * alternatives: #7788F3, #09ABB9
   *
   */
  --pst-color-link-hover: #09ABB9 !important;

  /* color primary
   * --------------------------------------------------------------------
   * currently set to a bright purple
   *
   * color of:
   *    Next/Prev Chapter name links, right/left nav hover, nav link focused
   *
   * alternatives:
   *
   */
  --pst-color-primary: #7788F3 !important;

  /* text muted
   * --------------------------------------------------------------------
   * currently set to bootstrap --bs-tertiary-color in dark mode
   *    https://getbootstrap.com/docs/5.3/customize/color/
   *
   * previously set to a soft palette of background color
   *    https://mycolor.space/?hex=%23262A33&sub=1
   *
   * text color of:
   *    nav links, header icon links, menu bar button,
   *    < > links,
   *
   * alternative: #746f77, #535761, #807F8B
   *
   */
  --pst-color-text-muted: #ADB5BD7F !important;

  /* inline code
   * --------------------------------------------------------------------
   * currently set to a randomly chosen peachy color
   *
   * text color of:
   *    inline literal, sample role, file role, regexp role
   *
   * alternative: #D97C6C, #00C6C3, #C0C0CC, #D19F9E, #BA9BB5, #D09EA8, #BC9C99
   *
   */
  --pst-color-inline-code: #BC9C99 !important;

  /* surface
   * --------------------------------------------------------------------
   * currently the background color from the pygments "inkpot" style
   * https://github.com/pygments/pygments/blob/f162631a2504b63799c9466f12072f9fd14611b1/pygments/styles/inkpot.py
   * https://pygments.org/styles/
   *
   * background color of:
   *    sidebars, code blocks, code cells, block quotes,
   *    topics, literal blocks, nav button hover state
   *
   */
  --pst-color-surface: #1e1e27 !important;

  /* on-background
   * --------------------------------------------------------------------
   * currently Blue (Munsell) from
   *    https://coolors.co/21252b-0892a5-d3bccc-b3f2dd-8e5572
   *
   * background color of: kbd role
   *
   * alternatives: #3F51B5, #B0E0EB
   *
   */
  --pst-color-on-background: #A4B5DB !important;

  /* on-surface
   * --------------------------------------------------------------------
   * currently a matching gradient of background color
   *    https://mycolor.space/?hex=%23262A33&sub=1
   *
   * background color of:
   *    scrollbars
   *
   * border color of:
   *    inline literals
   *
   * alternatives: #444553
   *
   */
  --pst-color-on-surface: #B88377 !important;

  /* border
   * --------------------------------------------------------------------
   * currently set to a gradient of the background color
   *    https://mycolor.space/?hex=%23262A33&sub=1
   *
   * border color of:
   *    cards, nav, code, rubric, sidebar
   *
   */
  --pst-color-border: var(--pst-color-on-surface) !important;

  /* shadow
   * --------------------------------------------------------------------
   * currently set to matching palette of the background color
   *    https://mycolor.space/?hex=%23262A33&sub=1
   *
   * shadow color of:
   *    dropdowns, topic
   *
   */
  --pst-color-shadow: #404756 !important;

  /* target
   * --------------------------------------------------------------------
   * currently set to ___
   *    ___
   *
   * background color of:
   *    footnote target
   *
   */
  --pst-color-target: #3c283b !important;

  /* ___
   * --------------------------------------------------------------------
   * currently set to background color of code from shibuya theme:
   *    https://shibuya.lepture.com/writing/code/
   *
   * background color of:
   *    footnote targets, glossary linked targets
   *
   */

  /* sd-dropdown-color
   * --------------------------------------------------------------------
   * currently set to ___
   *    ___
   *
   * ___ color of:
   *    ___
   *
   */
    // details.sd-dropdown summary.sd-card-header,details.sd-dropdown summary.sd-card-header+div.sd-summary-content {
    --pst-sd-dropdown-color: var(--sd-color-card-border) !important;

  // --pst-color-dark-highlight: #9ba3ab !important;

  --pst-color-background-secondary: #2f3542;
  --pst-color-border-secondary: #3f4551;
}

html[data-theme=dark] .bd-content img:not(.only-dark):not(.dark-light) {
  background: transparent;
}

/* light theme
 * ---------------------------------------------------------------------*/

/* :root, */
html[data-theme="light"],
html.light {
  --color-scheme: light;
  --pst-color-background-secondary: #f3f8f9;
  --pst-color-border-secondary: #e5eef2;
}

@each $type in $pst-colors {
  .pst-color-#{$type} {
    color: var(--pst-color-#{$type}) !important;
  }
  .pst-color-bg-#{$type} {
    background-color: var(--pst-color-#{$type}) !important;
  }
  .pst-color-border-#{$type} {
    border-color: var(--pst-color-#{$type}) !important;
    border-width: 1px;
    border-style: solid;
  }
  .pst-color-shadow-#{$type} {
    // box-shadow: var(--pst-color-#{$type}) 1px !important;
    box-shadow: -3px -3px 6px var(--pst-color-#{$type}),
                 3px  3px 6px var(--pst-color-#{$type})
                !important;
  }
}

.color-swatch {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px dotted var(--pst-color-muted);
  content: " ";
  border-radius: 0.25rem;
}

.hex-code {
  padding: 0.15rem;
  display: block;
  line-height: 1.5rem;
  width: 8rem;
  text-transform: uppercase;
}
