
/********************
/* glossary terms
/********************/

/* term reference -- all
 * glossary terms references
 * */

a.reference span.std-term {
  color: rgb(206, 219, 234);
  text-decoration: underline var(--pst-color-primary);
}

a.reference:hover span.std-term {
  text-decoration: underline double var(--pst-color-primary);
}

/* term reference -- unresolved
 * missing glossary terms references
 * */

a.reference.term-missing,
a.reference.term-missing:hover,
a.reference.term-missing span.std-term {
  text-decoration: underline #f00;
}
