
/********************
/* glossary terms
/********************/

/* term reference -- all
 * glossary terms references
 * */

a.reference span.std-term,
a.reference:hover span.std-term {
  color: #212529;
}

/* term reference -- resolved
 * found glossary terms references
 * */

a.reference span.std-term,
a.reference:hover span.std-term {
  text-decoration: underline double black;
}

/* term reference -- unresolved
 * missing glossary terms references
 * */

a.reference.term-missing,
a.reference.term-missing:hover,
a.reference.term-missing span.std-term {
  text-decoration: underline red;
}
