/* Highlighting Colors
 * ==================================================================================== */

/* NOTE: these are in colors.css */
/*
/* --syntax-highlight-bg
/* --syntax-cap-bg
/* --syntax-text
/*
 * */

:root,
html.light,
html[data-theme="light"],
.light-code,
html.dark,
html[data-theme="dark"],
.dark-code {
  --syntax-pre-bg: var(--syntax-highlight-bg);
  --syntax-special-bg: #4f425d;
  --syntax-lineno: inherit;
  --syntax-lineno-bg: transparent;
  --syntax-lineno-special: #000000;
  --syntax-lineno-special-bg: #ffffc0;
  --syntax-meta: #6e7781;
  --syntax-comment: #8b949e;
  --syntax-constant: #79c0ff;
  --syntax-entity: #47b0fa;
  --syntax-property: #d2a8ff;
  --syntax-definition: #c9d1d9;
  --syntax-tag: #7ee787;
  --syntax-builtin: #ffd34c;
  --syntax-keyword: #ff7b72;
  --syntax-exception: #da473c;
  --syntax-string: #a5d6ff;
  --syntax-regexp: #ef954e;
  --syntax-variable: #ffa657;
  --syntax-invalid-illegal-text: #f0f6fc;
  --syntax-invalid-illegal-bg: #8e1519;
  --syntax-markup-heading: #1f6feb;
  --syntax-markup-italic: #c9d1d9;
  --syntax-markup-bold: #c9d1d9;
  --syntax-markup-deleted-text: #ffdcd7;
  --syntax-markup-deleted-bg: #67060c;
  --syntax-markup-inserted-text: #aff5b4;
  --syntax-markup-inserted-bg: #033a16;
  --syntax-markup-changed-text: #ffdfb6;
  --syntax-markup-changed-bg: #5a1e02;
  --syntax-markup-ignored-text: #c9d1d9;
  --syntax-markup-ignored-bg: #1158c7;
  --syntax-meta-diff-range: #d2a8ff;
}

/* Syntax Tokens
 * ==================================================================================== */

/* Comment {{{                                                                          */
/* ------------------------------------------------------------------------------------ */

.cell .highlight .err,
.highlight .c,
.cell .highlight .cm,                                    /* .Hashbang */
.cell .highlight .cp,                                    /* .Multiline */
.cell .highlight .cpf,                                   /* .Preproc */
.cell .highlight .c1,                                    /* .PreprocFile */
.cell .highlight .cs,                                    /* .Single */
.cell .highlight .gd,                                    /* .Special */
.highlight .cm {
  color: var(--syntax-comment);
}

/* Comment.Preproc */
.highlight .cp {
  color: var(--syntax-constant);
}

/* Comment.Single */
.highlight .c1 {
  color: var(--syntax-comment);
}

/* Comment.Special */
.highlight .cs {
  color: var(--syntax-comment);
  background-color: var(--syntax-special-bg) ;
}

/* }}} / Comment */

/* Error {{{                                                                            */
/* ------------------------------------------------------------------------------------ */

.highlight .err {
  color: var(--syntax-invalid-illegal-text);
  background-color: var(--syntax-invalid-illegal-bg);
}

/* }}} /Error */

/* Generic {{{                                                                          */
/* ------------------------------------------------------------------------------------ */

.highlight .g {
  color: var(--syntax-meta);
}

/* Generic.Deleted */
.cell .highlight .ge,
.highlight .gd {
  color: var(--syntax-markup-deleted-text);
  background-color: var(--syntax-markup-deleted-bg);
}

/* Generic.Emph */
.cell .highlight .gh,
.highlight .ge {
  color: var(--syntax-markup-italic);
  font-style: italic;
}

/* Generic.Error */
.highlight .gr {
  color: var(--syntax-invalid-illegal-text);
  background-color: var(--syntax-invalid-illegal-bg);
}

/* Generic.Heading */
.cell .highlight .gs,
.highlight .gh {
  color: var(--syntax-markup-heading);
}

/* Generic.Inserted */
.highlight .gi {
  color: var(--syntax-markup-inserted-text);
  background-color: var(--syntax-markup-inserted-bg);
}

/* Generic.Output */
.highlight .go {
  color: var(--syntax-meta);
}

/* Generic.Prompt */
.highlight .gp {
  color: var(--syntax-meta);
}

/* Generic.Strong */
.cell .highlight .gu,
.highlight .gs {
  color: var(--syntax-markup-bold);
  font-weight: bold
}

/* Generic.Subheading */
.cell .highlight .kc,
.highlight .gu {
  color: var(--syntax-markup-heading);
}

/* Generic.Traceback */
.highlight .gt {
  color: var(--syntax-meta);
}

/* }}} / Generic */

/* Keyword {{{                                                                          */
/* ------------------------------------------------------------------------------------ */

.cell .highlight .l,
.highlight .k {
  color: var(--syntax-keyword);
}

/* Keyword.Constant */
.cell .highlight .kd,
.highlight .kc {
  color: var(--syntax-constant);
}

/* Keyword.Declaration */
.cell .highlight .kn,
.highlight .kd {
  color: var(--syntax-keyword);
}

/* Keyword.Namespace */
.cell .highlight .nx,
.cell .highlight .kp,
.highlight .kn {
  color: var(--syntax-keyword);
}

/* Keyword.Pseudo */
.cell .highlight .kr,
.highlight .kp {
  color: var(--syntax-keyword);
}

/* Keyword.Reserved */
.cell .highlight .kt,
.highlight .kr {
  color: var(--syntax-keyword);
}

/* Keyword.Type */
.cell .highlight .ld,
.highlight .kt {
  color: var(--syntax-entity);
}

/* }}} / Keyword */

/* Literal {{{                                                                          */
/* ------------------------------------------------------------------------------------ */

.cell .highlight .n,
.highlight .l {
  color: var(--syntax-meta);
}

/* Literal.Date */
.cell .highlight .m,
.highlight .ld {
  color: var(--syntax-meta);
}

/* Literal.Number */
.cell .highlight .s,
.highlight .m {
  color: var(--syntax-constant);
}

/* Literal.Number.Integer.Long */
.highlight .il {
  color: var(--syntax-constant);
}

/* Literal.Number */
.cell .highlight .mf,                                    /* .Bin */
.cell .highlight .mh,                                    /* .Float */
.cell .highlight .mi,                                    /* .Hex */
.cell .highlight .mo,                                    /* .Integer */
.cell .highlight .sa,                                    /* .Oct */
.cell .highlight .sd,                                    /* .Delimiter */
.highlight .mf,                                          /* .Float */
.highlight .mh,                                          /* .Hex */
.highlight .mi,                                          /* .Integer */
.highlight .mo {                                         /* .Oct */
  color: var(--syntax-constant);
}

/* Literal.String */
.highlight .s,
.cell .highlight .na,
.cell .highlight .bp,
.highlight .s2,                                          /* .Double */
.highlight .se,                                          /* .Escape */
.highlight .si,                                          /* .Interpol */
.highlight .sx,                                          /* .Other */
.highlight .s1,                                          /* .Single */
.highlight .ss,                                          /* .Symbol */
.cell .highlight .sb,                                    /* .Affix */
.cell .highlight .dl,                                    /* .Char */
.cell .highlight .se,                                    /* .Double */
.cell .highlight .sh,                                    /* .Escape */
.cell .highlight .sx,                                    /* .Interpol */
.cell .highlight .ss,                                    /* .Single */
.highlight .sc {                                         /* .Char */
  color: var(--syntax-string);
}

/* Literal.String (docstrings) */
.cell .highlight .s2,                                    /* .Doc */
.cell .highlight .si,                                    /* .Heredoc */
.highlight .sh {                                         /* .Heredoc */
  color: var(--syntax-comment);
}

/* Literal.String (regexp) )*/
.cell .highlight .sr,                                    /* .Other */
.cell .highlight .s1,                                    /* .Regex */
.highlight .sr {                                         /* .Regex */
  color: var(--syntax-regexp);
}

/* Literal.String.Backtick */
.cell .highlight .sc,
.highlight .sb {
  color: var(--syntax-meta);
}

/* }}} / Literal */

/* Name {{{                                                                             */
/* ------------------------------------------------------------------------------------ */

/* Name */
.cell .highlight .vi,                                    /* .Variable.Global */
.cell .highlight .vi,                                    /* .Variable.Global */
.cell .highlight .nv,                                    /* .Tag */
.cell .highlight .vg,                                    /* .Function.Variable.Class */
.cell .highlight .vc,                                    /* .Function.Magic */
.highlight .nt {
  color: var(--syntax-tag);
}

/* Name (builtins) */
.cell .highlight .nc,                                    /* .Builtin */
.highlight .nb,                                          /* .Builtin */
.cell .highlight .py,                                    /* .Other */
.cell .highlight .fm,                                    /* .Builtin.Pseudo */
.cell .highlight .nt {                                   /*  .Property */
  color: var(--syntax-builtin);
}

/* Name (constants) */
.highlight .na,                                          /* .Attribute */
.cell .highlight .nb,                                    /* .Attribute */
.highlight .no,                                          /* .Constant */
.cell .highlight .nb,                                    /* .Attribute */
.cell .highlight .nd,                                    /* .Constant */
.cell .highlight .vm,                                    /* Variable.Instance */
.cell .highlight .il {                                   /* .Variable.Magic */
  color: var(--syntax-constant);
}

/* Name (user defined objects) */
.cell .highlight .no,                                    /* .Class */
.cell .highlight .nn,                                    /* .Label */
.cell .highlight .nl,                                    /* .Function */
.highlight .nf,                                          /* .Function */
.highlight .nc {                                         /* .Class */
  color: var(--syntax-definition);
}

/* Name (user-defined variables) */
.cell .highlight .nt,
.cell .highlight .o,                                     /* .Builtin.Pseudo */
.highlight .bp,                                          /* .Builtin.Pseudo */
.cell .highlight .ow,                                    /* .Variable */
.highlight .vc,                                          /* .Variable.Class */
.highlight .vi,                                          /* .Variable.Instance */
.highlight .vg {                                         /* .Variable.Global */
  color: var(--syntax-variable);
}

/* Name.Decorator */
.cell .highlight .ni,
.highlight .nd {
  color: var(--syntax-entity);
}

/* Name.Entity */
.cell .highlight .ne,
.highlight .ni {
  color: var(--syntax-entity);
}

/* Name.Exception */
.cell .highlight .nf,
.highlight .ne {
  color: var(--syntax-exception);
}

/* }}} / Name */

/* Operator {{{                                                                         */
/* ------------------------------------------------------------------------------------ */

.cell .highlight .p,
.highlight .o,
.cell .highlight .ch,                                    /* Punctuation */
.cell .highlight .w,                                     /* Punctuation.Marker */
.cell .highlight .pm,                                    /* .Word */
.highlight .ow {                                         /* .Word */
  color: var(--syntax-constant);
}

/* }}} / Operator */

/* Other {{{                                                                            */
/* ------------------------------------------------------------------------------------ */

.highlight .x {
  color: var(--syntax-meta);
}

/* }}} / Other */

/* Text {{{                                                                             */
/* ------------------------------------------------------------------------------------ */


/* Text */
.cell .highlight .hll,
.highlight {
  color: var(--syntax-text);
  background-color: transparent;
}

/* Text.Whitespace */
.cell .highlight .mb,
.highlight .w {
  color: var(--syntax-meta);
}

/* }}} / Text */

/* Container Elements
 * ==================================================================================== */

/* Highlighted line */
.cell .highlight .hll,
.highlight,
.highlight .hll {
  display: block;
  background-color: var(--syntax-special-bg) !important;
}

/* Line Numbers */
.cell .highlight td.linenos .normal,
.cell .highlight span.linenos,
.highlight td.linenos .normal,
.highlight span.linenos {
  color: var(--syntax-lineno);
  background-color: var(--syntax-lineno-bg);
}

/* Line Numbers: Special */
.highlight td.linenos .special,
.highlight span.linenos.special,
.cell .highlight td.linenos .special,
.cell .highlight span.linenos.special {
    color: var(--syntax-lineno-special);
    background-color: var(--syntax-lineno-special-bg);
}

/* <pre> */
.highlight>pre {
    background-color: var(--syntax-highlight-bg);
}

/* <caption> */
.code-block-caption {
  background-color: var(--sytax-cap-bg);
  color: var(--sytax-text);
}
