blockquote {
  &::before {
    background-color: unset !important;
  }

  // bg: #404756, #2f3542, #1a1a23
  // fg: color:  var(--pst-color-dark-text);
  background-color: var(--pst-color-background-secondary) !important;
  border-color: var(--pst-color-border-secondary) !important;
  padding: 0.5rem 0.75rem !important;
  // border-width: 1px 1px 1px 4px !important;

  // border-width: 0.1em 0 !important;
  // border-style: solid !important;
  // border-radius: 0 !important;

  p {
    color: var(--pst-color-dark-highlight) !important;
  }

  &.pull-quote {
    border-width: 3px 0 !important;
    border-style: solid  !important;
    border-color: var(--pst-color-border) !important;
    border-radius: 0 !important;
    background-color: var(--pst-color-surface) !important;
    width: 45%;
    float: right;

    p {
      font-size: 1.15em;
      padding: 0.75em;
      color: var(--pst-color-dark-highlight) !important;
      font-weight: 300;

      &:first-child::before {
          color: var(--pst-color-border);
          font-family: 'Font Awesome 5 Free';
          content: "\f10d";
          margin-right: 0.3em;
          font-size: 1em;
          font-weight: 900;
      }

      &:first-child::after {
          font-size: 1em;
          color: var(--pst-color-border);
          font-family: 'Font Awesome 5 Free';
          content: "\f10e";
          margin-left: 0.3em;
          font-weight: 900;
      }
    }
  }

  &.epigraph {
    border-left: 4px solid var(--pst-color-border) !important;
    border-radius: 0 !important;
    padding: 1.5em !important;

    p {
      font-style: italic;
      font-size: 1.15em;
      font-family: "Georgia",Times,"Times New Roman",serif;

      &.attribution {
        color: var(--pst-color-text-muted) !important;
        text-align: left !important;
        padding-left: 2em;
      }

      &:first-child::before {
          color: var(--pst-color-border);
          font-family: 'Bootstrap-icons';
          content: "\F6B0";
          margin-right: 0.25em;
          font-size: 1.25em;
      }
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 1em;
    //   left: -4px;
    //   height: 2em;
    //   background-color: var(--pst-color-background) !important;
    //   width: 5px;
    //   margin-top: -1em;
    // }

    // &::after {
    //   position: absolute;
    //   top: 1em;
    //   left: 0;
    //   text-align: center;
    //   margin-top: -0.7em;
    //   line-height: 1em;
    //   color: var(--pst-color-border);
    //   font-family: 'Bootstrap-icons';
    //   content: "\F6B0";
    //   font-weight: 900;
    //   font-size: 2em;
    //   background-color: var(--pst-color-background-secondary);
    // }
  }
}
