:root {
  --pst-font-family-base-system: -apple-system, blinkmacsystemfont, "Segoe UI", oxygen, ubuntu, "Droid Sans", "Helvetica Neue" !important;
}


.pst-font-size-base {
  font-size: var(--pst-font-size-base) !important;
}

.pst-font-size-h1 {
  font-size: var(--pst-font-size-h1) !important;
}

.pst-font-size-h2 {
  font-size: var(--pst-font-size-h2) !important;
}

.pst-font-size-h3 {
  font-size: var(--pst-font-size-h3) !important;
}

.pst-font-size-h4 {
  font-size: var(--pst-font-size-h4) !important;
}

.pst-font-size-h5 {
  font-size: var(--pst-font-size-h5) !important;
}

.pst-font-size-h6 {
  font-size: var(--pst-font-size-h6) !important;
}

.pst-font-size-milli {
  font-size: var(--pst-font-size-milli) !important;
}

.pst-sidebar-font-size {
  font-size: var(--pst-sidebar-font-size) !important;
}

.pst-sidebar-font-size-mobile {
  font-size: var(--pst-sidebar-font-size-mobile) !important;
}

.pst-sidebar-header-font-size {
  font-size: var(--pst-sidebar-header-font-size) !important;
}

.pst-sidebar-header-font-weight {
  font-weight: var(--pst-sidebar-header-font-weight) !important;
}

.pst-admonition-font-weight-heading {
  font-weight: var(--pst-admonition-font-weight-heading) !important;
}

.pst-font-weight-caption {
  font-weight: var(--pst-font-weight-caption) !important;
}

.pst-font-weight-heading {
  font-weight: var(--pst-font-weight-heading) !important;
}

.pst-font-family-base {
  font-family: var(--pst-font-family-base) !important;
}

.pst-font-family-heading {
  font-family: var(--pst-font-family-heading) !important;
}

.pst-font-family-base-system {
  font-family: var(--pst-font-family-base-system) !important;
}

.pst-font-family-monospace-system {
  font-family: var(--pst-font-family-monospace-system) !important;
}

.pst-font-family-monospace {
  font-family: var(--pst-font-family-monospace) !important;
}
