sphinx-book-theme

Jinja2

myst-nb

jupyter-book

# required for _ext/resolvers.py
more_itertools

# syntax highlighting for pytest output
pygments-pytest

# sphinx plugins
sphinx-exercise
sphinx-tabs
sphinx-code-highlighter
sphinxcontrib-kroki      # diagrams

# play screencasts
asciinema

# used to generate methods on CLI lesson
console

# used to generate screenshots
# really only needed locally but imported
selenium
