# version 2.0 came out and messed up everything
sphinx-book-theme==0.1.7

# jupyter-book/sphinx issue as of sphinx 4.5.0
# https://github.com/sphinx-doc/sphinx/issues/10291
Jinja2<3.1

# need > 0.8.3 (current master) to get local_extensions support
# git+git://github.com/executablebooks/jupyter-book.git#egg=jupyter-book
jupyter-book==0.10.0

# required for _ext/resolvers.py
more_itertools

# required for jupyter-book as of 0.10.0
# https://github.com/executablebooks/jupyter-book/issues/1137
sphinxcontrib-bibtex

# syntax highlighting for pytest output
pygments-pytest

sphinx-exercise
sphinx-panels
sphinx-tabs

sphinx-code-highlighter

# used to produce diagrams
sphinxcontrib-kroki

# play screencasts
asciinema

# used to generate methods on CLI lesson
console
