sphinx-book-theme==0.3.3

Jinja2==3.1.2

myst-nb==0.13.2

jupyter-book==0.13.2

# required for _ext/resolvers.py
more_itertools==8.14.0

# syntax highlighting for pytest output
pygments-pytest==2.3.0

# sphinx plugins
sphinx-exercise==0.4.1
sphinx-tabs==3.3.1
sphinx-code-highlighter==0.0.4
sphinxcontrib-kroki==1.3.0      # diagrams

# play screencasts
asciinema==2.2.0

# used to generate methods on CLI lesson
console==0.9907

# used to generate screenshots
# really only needed locally but imported
selenium==4.8.2
