details.dropdown.card .card-body {
  overflow: auto;
}

.sd-card-footer.text-light p.sd-card-text {
  color: #c1c3c5;
}

.sd-card-body.text-white p.sd-card-text {
  color: #fff;
}

.sd-card-header {
  background-color: var(--color-card-header) !important;
}
