/* code-block fill-in
 *   for column alignment */
.break {
  padding: 11px;
  line-height: 17px;
  margin-bottom: 15px;
}

/****************
/* code blocks
/****************/

/* wrapper
 * - unindent code blocks
 * - shrink the width and height to the content size
 *   so captions are centered and wrapped correctly
 * */
div.literal-block-wrapper {
  width: max-content;
  height: max-content;
  margin-left: 0;
  padding-left: 0;
}


/* code-block container
 * - remove the space between the code block and caption
 * */
div.literal-block-wrapper div.highlight-python div.highlight,
div.literal-block-wrapper div.highlight-python table.highlighttable {
  margin-bottom: 0;
}

/* code block line numbers 
 * - align line numbers with code-block
 * */
td.linenos {
  vertical-align: top;
}

/* caption container
 * - font size for number and text
 * - shrink to the width of the code-block
 * - leave some space around the edges
 * - add a margin after the caption
 * */
div.code-block-caption {
  font-size: .9rem;
  padding: 0 .75em;
  margin-bottom: 1.5em;
  max-width: fit-content;
  text-align: center;
}

/* caption number ("Listing {n}")
 * - hide
 * - bold if shown
 * */
div.code-block-caption > span.caption-number {
  font-weight: bold;
  display: none;
}
