/* Custom Admonitions
 * ======================================================= */

/* calm
 * ------------------------------------------------------- */

div.calm {
    background-color: var(--background-color);
    border-color: var(--border-color);
}

div.calm p.admonition-title {
    background-color: var(--title-background-color);
}

div.calm p.admonition-title::before {
    color: var(--icon-bg-color);
}
