p.header-link {
  margin-top: -3em;
  margin-bottom: 4em;
}

p.header-link a {
  margin-left: 1em;
}

/********************
/* step headers
/********************/

/* add bottom border to "A. Part X.X" headers */
body#battle h4,
body#tutorial h4,
body#adventure h4,
body#file-io h4,
body#dragon-realm h4,
body#pytest-tests h4,
body.adventure h3,
body#intro.testing h4
{
  border-bottom: 1px solid var(--pst-color-text-base);
  font-weight: 500;
  /* font-size: var(--pst-font-size-h5); */
}

/* prevent code samples from overlapping bottom border  */
body#battle h4 > code,
body#tutorial h4 > code,
body#adventure h4 > code,
body#file-io h4 > code,
body#dragon-realm h4 > code,
body#pytest-tests h4 > code,
body.adventure h3 > code
{
  border-bottom: inherit !important;
  padding-bottom: 0 !important;
}
