/* lessons/syntax
 * ------------------------------------------------------- */

:root {
  --kw-cols: 3;
  --dark-gray: #343a40;
}

details.keywords-list ul {
  columns: var(--kw-cols);
  -webkit-columns: var(--kw-cols);
  -moz-columns: var(--kw-cols);
}

/* tools/vscode
 * ------------------------------------------------------- */

body#vscode .theme-header-container {
  border-bottom: 1px solid var(--pst-color-border);
  margin-bottom: 1.15rem;
}

body#vscode .theme-header-container > h4 {
  margin-bottom: 0;
  padding-bottom: 0.25rem;
}

body#vscode .theme-header-container > .clearfix {
  line-height: 0;
}

/* .game-info
 * ------------------------------------------------------- */

/* game info sidebar: hide sidebar title */
div.sidebar.game-info p.sidebar-title {
  display: none;
  line-height: 0;
  font-size: 0;
}

/* game info inventory admonition: remove title icon */
div.sidebar.game-info div.admonition {
  border-left: .2rem solid var(--indigo);
}

/* game info inventory admonition: ... */
div.sidebar.game-info div.admonition table {
  display: table;
}

div.sidebar.game-info div.admonition table,
div.sidebar.game-info div.admonition tbody,
div.sidebar.game-info div.admonition tr {
  padding: .1em .1em .1em .25em;
  width: 100%;
}

div.sidebar.game-info div.admonition td p {
  display: inline;
}

/* game info inventory admonition: remove title icon */
div.sidebar.game-info p.admonition-title::before {
  content: none;
}

/* game info inventory admonition: adjust title position without icon */
div.sidebar.game-info p.admonition-title {
  padding: .4rem .6rem .4rem .6rem;
  background-color: var(--md-deep-purple-50);
}

/* game info inventory admonition: remove top margin */
div.admonition.inventory {
  margin-top: 0
}

/* program flow
 * ------------------------------------------------------- */

body#flow div.admonition thead {
  display: none;
}

body#flow h3 {
  page-break-before: always;
  clear: both;
}

/*__sidebars____________________________ */

/* hide sidebar title */
body#flow div.sidebar.game-info p.sidebar-title {
  display: none;
  line-height: 0;
  font-size: 0;
}

/*__admonitions_________________________ */

/* remove title icon */
body#flow div.sidebar.game-info div.admonition {
  border-left: .2rem solid var(--indigo);
}

/* ... */
body#flow div.sidebar.game-info div.admonition table {
  display: table;
}

body#flow div.sidebar.game-info div.admonition table,
body#flow div.sidebar.game-info div.admonition tbody,
body#flow div.sidebar.game-info div.admonition tr {
  padding: .1em .1em .1em .25em;
  width: 100%;
}

body#flow div.sidebar.game-info div.admonition td p {
  display: inline;
}

/* remove title icon */
body#flow div.sidebar.game-info p.admonition-title::before {
  content: none;
}

/* adjust title position without icon */
body#flow div.sidebar.game-info p.admonition-title {
  padding: .4rem .6rem .4rem .6rem;
  background-color: var(--md-deep-purple-50);
}

/* remove top margin */
body#flow div.admonition.inventory {
  margin-top: 0
}

/* remove border between empty thead and tbody */
body#flow div.admonition tbody {
  border-top: 0;
}

/* hide empty thead */
body#flow div.admonition thead {
  display: none;
}


/* reading-code
 * ------------------------------------------------------- */

body#reading-code p.sidebar-title {
  background-color: #ccc;
}

/* replit
 * ------------------------------------------------------- */

/* Hide the page title, since the Replit logo is there. */
body#replit h1 {
  display: none;
}

/* adventure exercise
 * ------------------------------------------------------- */

body.adventure h2 {
  font-size: var(--pst-font-size-h3);
}

/* conditional statements
 * ------------------------------------------------------- */

body#conditional-statements table.table p {
  margin-bottom: 0;
}

body#conditional-statements table.table td {
  padding-bottom: .25em !important;
}
