.kbd-symbol-key table.table tbody tr {
  border: 0;
}

.kbd-symbol-key td {
  padding: .25rem;
  border: 0;
}

.kbd-symbol-key code span.pre {
  font-size: 1.5em;
}

.guilabel {
  color: #5C6BC0;    /* --md-indigo-400 */
  font-weight: bold
}
