/* remove headers
/********************/

.no-headers thead {
  display: none;
  border: 0;
}

.no-headers thead th {
  padding: 0;
  border: 0;
}

.no-headers tbody tr:first-child td {
  border-top: 0;
}

table.table.notitle thead th.head {
  border: 0;
  padding: 0;
}

/* data tables
/********************/

/* table.table thead, */
/* table.table thead tr, */
/* table.table thead tr th, */
/* table.table { */
/*   border-top: 0 !important; */
/* } */

/* table.table tbody tr { */
/*   border-bottom: 1px solid #dee2e6; */
/* } */

/* table.table label { */
/*   font-weight: 500; */
/*   color: var(--md-indigo-400); */
/*   display: block; */
/* } */

/* [> add a line break after labels <] */
/* table.table label:after { */
/*   content: '\A'; */
/*   white-space: pre; */
/* } */

/* table.table td.text-align\:right p, */
/* table.table td.text-align\:right code, */
/* table.table td.text-align\:right .pre { */
/*   text-align: right; */
/* } */

/* table.table thead tr th p, */
/* table.table tr td p, */
/* table.table tr td pre { */
/*   margin: 0; */
/* } */

/* table.table thead tr th, */
/* table.table tr td { */
/*   padding: .3rem .5rem; */
/* } */

/* tr:last-child { */
/*   border-bottom: 0px !important; */
/* } */
