/********************
/* Exercises
/********************/

div.exercise.notitle p.admonition-title::after {
  display: none;
}

/********************
/* Table of Contents
/********************/

div.contents {
  border: 1px solid #c9c9c9;
  /* background-color: #fafafa; */
  background-color: var(--light);
}

/********************
/* code cells
/********************/

.cell_output {
  padding-left: 0;
  margin-top: 0;
}

.cell_output > .output {
  margin-top: 0;
}

div.cell_output.docutils.container > div.output > div.highlight {
  border: 1px solid #c9c9c9 !important;
}

.cell_input, .cell_output {
  margin-left: 2.5em;
}

.cell_output > .output {
  margin-top: 0.5em;
}

.cell > .prompt {
  display: inline;
  font-family: monospace;
  float: left;
  width: 2.5em;
  padding-right: 3px;
  text-align: right;
  color: #999;
}

/* .cell > .prompt-in { */
/*   color: #303F9F; */
/* } */

.cell > .prompt-out {
  /* color: #D84315; */
  margin-top: 1em;
}

/********************
/* Field lists
/********************/

dl.field-list {
  display: inline-grid;
  grid-template-columns: max-content max-content;
}

.field-list dt {
  grid-column-start: 1;
  text-align: right;
}

.field-list dd {
  grid-column-start: 2;
  margin-left: 1em !important;
  text-align: left;
  inline-size: fit-content;
}

.field-list dd p {
  display: inline;
  inline-size: fit-content;
}

/********************
/* misc
/********************/

.clear { clear: both; }

div.sidebar.notitle p.sidebar-title {
  display: none;
  line-height: 0;
  font-size: 0;
}

div.sidebar.wide {
  width: 90%;
}

.kbd-symbol-key table.table tbody tr {
  border: 0;
}

.kbd-symbol-key td {
  padding: .25rem;
  border: 0;
}

.kbd-symbol-key code span.pre {
  font-size: 1.5em;
}

.no-headers thead {
  display: none;
  border: 0;
}

.no-headers thead th {
  padding: 0;
  border: 0;
}

.no-headers tbody tr:first-child td {
  border-top: 0;
}

.guilabel {
  color: #5C6BC0;    /* --md-indigo-400 */
  font-weight: bold
}

/********************
/* data tables
/********************/

table.table thead,
table.table thead tr,
table.table thead tr th,
table.table {
  border-top: 0 !important;
}

table.table tbody tr {
  border-bottom: 1px solid #dee2e6;
}

table.table label {
  font-weight: 500;
  color: var(--md-indigo-400);
  display: block;
}

/* add a line break after labels */
table.table label:after {
  content: '\A';
  white-space: pre;
}

table.table td.text-align\:right p,
table.table td.text-align\:right code,
table.table td.text-align\:right .pre {
  text-align: right;
}

table.table thead tr th p,
table.table tr td p,
table.table tr td pre {
  margin: 0;
}

table.table thead tr th,
table.table tr td {
  padding: .3rem .5rem;
}

/********************
/* admonitions
/********************/

div.admonition.details {
}

div.admonition.details {
  border-left-width: 1px;
  border-top: 2px solid #fff6dd;
  border-bottom: 2px solid #fff6dd;
  border-right: 2px solid #fff6dd;
}

div.admonition.details p {
  font-size: 1.2em;
}

div.admonition.details li {
  margin-top: .75em;
}

div.admonition.details p.admonition-title {
  border-bottom: 1px solid #ffc107;
  background-color: inherit;
  font-size: 1.3em;
  font-weight: normal;
}

div.admonition.details p.admonition-title::after {
  content: "Details";
}

div.admonition.exercises p.admonition-title::after {
  content: "Exercises";
}

div.admonition.exercise p.admonition-title::after {
  content: "Exercise";
}

/********************
/* sidebars
/********************/

/* game info sidebar: hide sidebar title */
div.sidebar.game-info p.sidebar-title {
  display: none;
  line-height: 0;
  font-size: 0;
}

/* game info inventory admonition: remove title icon */
div.sidebar.game-info div.admonition {
  border-left: .2rem solid var(--indigo);
}

/* game info inventory admonition: ... */
div.sidebar.game-info div.admonition table {
  display: table;
}

div.sidebar.game-info div.admonition table,
div.sidebar.game-info div.admonition tbody,
div.sidebar.game-info div.admonition tr {
  padding: .1em .1em .1em .25em;
  width: 100%;
}

div.sidebar.game-info div.admonition td p {
  display: inline;
}

/* game info inventory admonition: remove title icon */
div.sidebar.game-info p.admonition-title::before {
  content: none;
}

/* game info inventory admonition: adjust title position without icon */
div.sidebar.game-info p.admonition-title {
  padding: .4rem .6rem .4rem .6rem;
  background-color: var(--md-deep-purple-50);
}

/* game info inventory admonition: remove top margin */
div.admonition.inventory {
  margin-top: 0
}

/* ... */
div.admonition thead {
  display: none;
}

/********************
/* glossary terms
/********************/

/* term reference -- all
 * glossary terms references
 * */

a.reference span.std-term,
a.reference:hover span.std-term {
  color: #212529;
}

/* term reference -- resolved
 * found glossary terms references
 * */

a.reference span.std-term,
a.reference:hover span.std-term {
  text-decoration: underline double black;
}

/* term reference -- unresolved
 * missing glossary terms references
 * */

a.reference.term-missing,
a.reference.term-missing:hover,
a.reference.term-missing span.std-term {
  text-decoration: underline red;
}

/****************
/* code blocks
/****************/

/* code-block fill-in
 *   for column alignment */
.break {
  padding: 11px;
  line-height: 17px;
  margin-bottom: 15px;
}

/* wrapper
 * - unindent code blocks
 * - shrink the width and height to the content size
 *   so captions are centered and wrapped correctly
 * */
div.literal-block-wrapper {
  width: max-content;
  height: max-content;
  margin-left: 0;
  padding-left: 0;
}

div.full-width {
  max-width: 100%;
  width: 100%;
}

div.full-width table tbody {
  width: 100%;
}

div.full-width table tbody td.code {
  width: 100%;
}

/* code-block container
 * - remove the space between the code block and caption
 * */
div.literal-block-wrapper div.highlight-python div.highlight,
div.literal-block-wrapper div div.highlight,
div.literal-block-wrapper div div.highlight pre,
div.literal-block-wrapper div.highlight-python pre,
div.literal-block-wrapper div.highlight table.highlighttable,
div.literal-block-wrapper div.highlight-python table.highlighttable {
  margin-bottom: 0;
}

div.literal-block-wrapper table td {
  padding-bottom: 0;
}

/* code block
 * - align line numbers with code-block
 * */
td.linenos,
td.code {
  vertical-align: top !important;
}

/* code block
 * - align line numbers with code-block
 * */
td.linenos div.linenodiv pre,
td.code div.highlight pre {
  margin-top: 0;
}

/* caption container
 * - font size for number and text
 * - shrink to the width of the code-block
 * - leave some space around the edges
 * - add a margin after the caption
 * */
div.code-block-caption {
  line-height: 0.9rem;
  margin-top: 0;
  font-size: .9rem;
  padding: 0 .75em;
  margin-bottom: 1.5em;
  max-width: fit-content;
  text-align: center;
  color: #6c757d;
}

/* caption number ("Listing {n}")
 * - hide
 * - bold if shown
 * */
div.code-block-caption > span.caption-number {
  font-weight: bold;
  display: none;
}

div.row div table.highlighttable div.highlight pre {
  margin-top: 0;
}

/********************
/* individual pages
/********************/

/* program flow
/*--------------------------------------*/

body#flow h3 {
  page-break-before: always;
  clear: both;
}

/*__sidebars____________________________ */

/* hide sidebar title */
body#flow div.sidebar.game-info p.sidebar-title {
  display: none;
  line-height: 0;
  font-size: 0;
}

/*__admonitions_________________________ */

/* remove title icon */
body#flow div.sidebar.game-info div.admonition {
  border-left: .2rem solid var(--indigo);
}

/* ... */
body#flow div.sidebar.game-info div.admonition table {
  display: table;
}

body#flow div.sidebar.game-info div.admonition table,
body#flow div.sidebar.game-info div.admonition tbody,
body#flow div.sidebar.game-info div.admonition tr {
  padding: .1em .1em .1em .25em;
  width: 100%;
}

body#flow div.sidebar.game-info div.admonition td p {
  display: inline;
}

/* remove title icon */
body#flow div.sidebar.game-info p.admonition-title::before {
  content: none;
}

/* adjust title position without icon */
body#flow div.sidebar.game-info p.admonition-title {
  padding: .4rem .6rem .4rem .6rem;
  background-color: var(--md-deep-purple-50);
}

/* remove top margin */
body#flow div.admonition.inventory {
  margin-top: 0
}

/* remove border between empty thead and tbody */
body#flow div.admonition tbody {
  border-top: 0;
}

/* hide empty thead */
body#flow div.admonition thead {
  display: none;
}


/* conditional statements
/*--------------------------------------*/

body#conditional-statements table.table p {
  margin-bottom: 0;
}

body#conditional-statements table.table td {
  padding-bottom: .25em !important;
}

