pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #eeffcc; }
.highlight .c { color: #408090; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408090; font-style: italic } /* Comment.Hashbang */
.highlight .c-Highlight { color: #408090; font-style: italic; background-color: #ffffcc } /* Comment.Highlight */
.highlight .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .cpf { color: #408090; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408090; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408090; background-color: #fff0f0 } /* Comment.Special */
.highlight .err-Highlight { background-color: #ffffcc; border: 1px solid #FF0000 } /* Error.Highlight */
.highlight .esc-Highlight { background-color: #ffffcc } /* Escape.Highlight */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #333333 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .k-Highlight { color: #007020; font-weight: bold; background-color: #ffffcc } /* Keyword.Highlight */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .l-Highlight { background-color: #ffffcc } /* Literal.Highlight */
.highlight .m { color: #208050 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .n-Highlight { background-color: #ffffcc } /* Name.Highlight */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .o-Highlight { color: #666666; background-color: #ffffcc } /* Operator.Highlight */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .x-Highlight { background-color: #ffffcc } /* Other.Highlight */
.highlight .p-Highlight { background-color: #ffffcc } /* Punctuation.Highlight */
.highlight .-Highlight { background-color: #ffffcc } /* Text.Highlight */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .ch-Highlight { color: #408090; font-style: italic; background-color: #ffffcc } /* Comment.Hashbang.Highlight */
.highlight .cm-Highlight { color: #408090; font-style: italic; background-color: #ffffcc } /* Comment.Multiline.Highlight */
.highlight .cp-Highlight { color: #007020; background-color: #ffffcc } /* Comment.Preproc.Highlight */
.highlight .cpf-Highlight { color: #408090; font-style: italic; background-color: #ffffcc } /* Comment.PreprocFile.Highlight */
.highlight .c1-Highlight { color: #408090; font-style: italic; background-color: #ffffcc } /* Comment.Single.Highlight */
.highlight .cs-Highlight { color: #408090; background-color: #ffffcc } /* Comment.Special.Highlight */
.highlight .gd-Highlight { color: #A00000; background-color: #ffffcc } /* Generic.Deleted.Highlight */
.highlight .ge-Highlight { font-style: italic; background-color: #ffffcc } /* Generic.Emph.Highlight */
.highlight .gr-Highlight { color: #FF0000; background-color: #ffffcc } /* Generic.Error.Highlight */
.highlight .gh-Highlight { color: #000080; font-weight: bold; background-color: #ffffcc } /* Generic.Heading.Highlight */
.highlight .gi-Highlight { color: #00A000; background-color: #ffffcc } /* Generic.Inserted.Highlight */
.highlight .go-Highlight { color: #333333; background-color: #ffffcc } /* Generic.Output.Highlight */
.highlight .gp-Highlight { color: #c65d09; font-weight: bold; background-color: #ffffcc } /* Generic.Prompt.Highlight */
.highlight .gs-Highlight { font-weight: bold; background-color: #ffffcc } /* Generic.Strong.Highlight */
.highlight .gu-Highlight { color: #800080; font-weight: bold; background-color: #ffffcc } /* Generic.Subheading.Highlight */
.highlight .gt-Highlight { color: #0044DD; background-color: #ffffcc } /* Generic.Traceback.Highlight */
.highlight .kc-Highlight { color: #007020; font-weight: bold; background-color: #ffffcc } /* Keyword.Constant.Highlight */
.highlight .kd-Highlight { color: #007020; font-weight: bold; background-color: #ffffcc } /* Keyword.Declaration.Highlight */
.highlight .kn-Highlight { color: #007020; font-weight: bold; background-color: #ffffcc } /* Keyword.Namespace.Highlight */
.highlight .kp-Highlight { color: #007020; background-color: #ffffcc } /* Keyword.Pseudo.Highlight */
.highlight .kr-Highlight { color: #007020; font-weight: bold; background-color: #ffffcc } /* Keyword.Reserved.Highlight */
.highlight .kt-Highlight { color: #902000; background-color: #ffffcc } /* Keyword.Type.Highlight */
.highlight .ld-Highlight { background-color: #ffffcc } /* Literal.Date.Highlight */
.highlight .mb { color: #208050 } /* Literal.Number.Bin */
.highlight .mf { color: #208050 } /* Literal.Number.Float */
.highlight .mh { color: #208050 } /* Literal.Number.Hex */
.highlight .m-Highlight { color: #208050; background-color: #ffffcc } /* Literal.Number.Highlight */
.highlight .mi { color: #208050 } /* Literal.Number.Integer */
.highlight .mo { color: #208050 } /* Literal.Number.Oct */
.highlight .sa { color: #4070a0 } /* Literal.String.Affix */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .dl { color: #4070a0 } /* Literal.String.Delimiter */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .s-Highlight { color: #4070a0; background-color: #ffffcc } /* Literal.String.Highlight */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .na-Highlight { color: #4070a0; background-color: #ffffcc } /* Name.Attribute.Highlight */
.highlight .nb-Highlight { color: #007020; background-color: #ffffcc } /* Name.Builtin.Highlight */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .nc-Highlight { color: #0e84b5; font-weight: bold; background-color: #ffffcc } /* Name.Class.Highlight */
.highlight .no-Highlight { color: #60add5; background-color: #ffffcc } /* Name.Constant.Highlight */
.highlight .nd-Highlight { color: #555555; font-weight: bold; background-color: #ffffcc } /* Name.Decorator.Highlight */
.highlight .ni-Highlight { color: #d55537; font-weight: bold; background-color: #ffffcc } /* Name.Entity.Highlight */
.highlight .ne-Highlight { color: #007020; background-color: #ffffcc } /* Name.Exception.Highlight */
.highlight .nf-Highlight { color: #06287e; background-color: #ffffcc } /* Name.Function.Highlight */
.highlight .fm { color: #06287e } /* Name.Function.Magic */
.highlight .nl-Highlight { color: #002070; font-weight: bold; background-color: #ffffcc } /* Name.Label.Highlight */
.highlight .nn-Highlight { color: #0e84b5; font-weight: bold; background-color: #ffffcc } /* Name.Namespace.Highlight */
.highlight .nx-Highlight { background-color: #ffffcc } /* Name.Other.Highlight */
.highlight .py-Highlight { background-color: #ffffcc } /* Name.Property.Highlight */
.highlight .nt-Highlight { color: #062873; font-weight: bold; background-color: #ffffcc } /* Name.Tag.Highlight */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .nv-Highlight { color: #bb60d5; background-color: #ffffcc } /* Name.Variable.Highlight */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .vm { color: #bb60d5 } /* Name.Variable.Magic */
.highlight .ow-Highlight { color: #007020; font-weight: bold; background-color: #ffffcc } /* Operator.Word.Highlight */
.highlight .w-Highlight { color: #bbbbbb; background-color: #ffffcc } /* Text.Whitespace.Highlight */
.highlight .mb-Highlight { color: #208050; background-color: #ffffcc } /* Literal.Number.Bin.Highlight */
.highlight .mf-Highlight { color: #208050; background-color: #ffffcc } /* Literal.Number.Float.Highlight */
.highlight .mh-Highlight { color: #208050; background-color: #ffffcc } /* Literal.Number.Hex.Highlight */
.highlight .mi-Highlight { color: #208050; background-color: #ffffcc } /* Literal.Number.Integer.Highlight */
.highlight .il { color: #208050 } /* Literal.Number.Integer.Long */
.highlight .mo-Highlight { color: #208050; background-color: #ffffcc } /* Literal.Number.Oct.Highlight */
.highlight .sa-Highlight { color: #4070a0; background-color: #ffffcc } /* Literal.String.Affix.Highlight */
.highlight .sb-Highlight { color: #4070a0; background-color: #ffffcc } /* Literal.String.Backtick.Highlight */
.highlight .sc-Highlight { color: #4070a0; background-color: #ffffcc } /* Literal.String.Char.Highlight */
.highlight .dl-Highlight { color: #4070a0; background-color: #ffffcc } /* Literal.String.Delimiter.Highlight */
.highlight .sd-Highlight { color: #4070a0; font-style: italic; background-color: #ffffcc } /* Literal.String.Doc.Highlight */
.highlight .s2-Highlight { color: #4070a0; background-color: #ffffcc } /* Literal.String.Double.Highlight */
.highlight .se-Highlight { color: #4070a0; font-weight: bold; background-color: #ffffcc } /* Literal.String.Escape.Highlight */
.highlight .sh-Highlight { color: #4070a0; background-color: #ffffcc } /* Literal.String.Heredoc.Highlight */
.highlight .si-Highlight { color: #70a0d0; font-style: italic; background-color: #ffffcc } /* Literal.String.Interpol.Highlight */
.highlight .sx-Highlight { color: #c65d09; background-color: #ffffcc } /* Literal.String.Other.Highlight */
.highlight .sr-Highlight { color: #235388; background-color: #ffffcc } /* Literal.String.Regex.Highlight */
.highlight .s1-Highlight { color: #4070a0; background-color: #ffffcc } /* Literal.String.Single.Highlight */
.highlight .ss-Highlight { color: #517918; background-color: #ffffcc } /* Literal.String.Symbol.Highlight */
.highlight .bp-Highlight { color: #007020; background-color: #ffffcc } /* Name.Builtin.Pseudo.Highlight */
.highlight .fm-Highlight { color: #06287e; background-color: #ffffcc } /* Name.Function.Magic.Highlight */
.highlight .vc-Highlight { color: #bb60d5; background-color: #ffffcc } /* Name.Variable.Class.Highlight */
.highlight .vg-Highlight { color: #bb60d5; background-color: #ffffcc } /* Name.Variable.Global.Highlight */
.highlight .vi-Highlight { color: #bb60d5; background-color: #ffffcc } /* Name.Variable.Instance.Highlight */
.highlight .vm-Highlight { color: #bb60d5; background-color: #ffffcc } /* Name.Variable.Magic.Highlight */
.highlight .il-Highlight { color: #208050; background-color: #ffffcc } /* Literal.Number.Integer.Long.Highlight */